.card-big._topnews .card-big__info, .card-big._topnews .card-big__titles {
    padding: 0;
}
.card-big._topnews .card-big__titles {
    font: 600 19px/23px "Source Serif Pro Lenta",serif;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.card-big__titles {
    margin-top: 10px;
    padding: 0 15px;
    font: 17px/20px Lato Lenta,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #292929;
}
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, summary, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.card-big {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 280px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #f5f5f5;
    -webkit-transition: box-shadow .3s ease,color .3s ease;
    transition: box-shadow .3s ease,color .3s ease;
}
a {
    text-decoration: none;
}
a {
    background: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
.topnews__column {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 280px;
}
.layout__container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-width: 1440px;
    min-width: 1240px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}
body {
    margin: 0;
    overflow-y: scroll;
    font-family: sans-serif;
    color: #292929;
    background: #fff;
}
body {
    line-height: 1;
}
.card-mini._topnews {
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    align-items: center;
}
.card-mini {
    display: -webkit-box;
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid #eaeaea;
}
a {
    text-decoration: none;
}
a {
    background: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.topnews__column {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 280px;
}
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, summary, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.layout__container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-width: 1440px;
    min-width: 1240px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}
body {
    margin: 0;
    overflow-y: scroll;
    font-family: sans-serif;
    color: #292929;
    background: #fff;
}
body {
    line-height: 1;
}
.card-mini._topnews:first-child {
    padding-top: 0;
}
.card-mini._topnews:first-child, .card-mini._topnews:last-child {
    -webkit-box-flex: 0;
    flex: none;
}
.card-mini._topnews {
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 500px;
    margin-bottom: 0px;
}
.card-mini {
    display: -webkit-box;
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid #eaeaea;
}
a {
    text-decoration: none;
}
a {
    background: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.topnews__column {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 280px;
}
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, summary, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.layout__container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-width: 1440px;
    min-width: 1240px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}
body {
    margin: 0;
    overflow-y: scroll;
    font-family: sans-serif;
    color: #292929;
    background: #fff;
}
body {
    line-height: 1;
}
.card-mini._topnews {
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    align-items: center;
}
.card-mini {
    display: -webkit-box;
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid #eaeaea;
}
a {
    text-decoration: none;
}
a {
    background: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.topnews__column {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 280px;
}
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, summary, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.layout__container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-width: 1440px;
    min-width: 1240px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}
body {
    margin: 0;
    overflow-y: scroll;
    font-family: sans-serif;
    color: #292929;
    background: #fff;
}
.topnews {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, summary, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.layout__container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-width: 1440px;
    min-width: 1240px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}
body {
    margin: 0;
    overflow-y: scroll;
    font-family: sans-serif;
    color: #292929;
    background: #fff;
}
body {
    line-height: 1;
}
.topnews {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, summary, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.layout__container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-width: 1440px;
    min-width: 1240px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}
body {
    margin: 0;
    overflow-y: scroll;
    font-family: sans-serif;
    color: #292929;
    background: #fff;
}
body {
    line-height: 1;
}
.card-mini._topnews:first-child {
    padding-top: 0;
}
.card-mini._topnews:first-child, .card-mini._topnews:last-child {
    -webkit-box-flex: 0;
    flex: none;
}
.card-mini._topnews {
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    align-items: center;
}
.card-mini {
    display: -webkit-box;
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid #eaeaea;
}
a {
    text-decoration: none;
}
a {
    background: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.topnews__column {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 280px;
}
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, summary, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.layout__container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-width: 1440px;
    min-width: 1240px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}
body {
    margin: 0;
    overflow-y: scroll;
    font-family: sans-serif;
    color: #292929;
    background: #fff;
}
body {
    line-height: 1;
}
.card-mini._topnews:first-child {
    padding-top: 0;
}
.card-mini._topnews:first-child, .card-mini._topnews:last-child {
    -webkit-box-flex: 0;
    flex: none;
}
.card-mini._topnews {
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    align-items: center;
}
.card-mini {
    display: -webkit-box;
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid #eaeaea;
}
a {
    text-decoration: none;
}
a {
    background: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.topnews__column {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 280px;
}
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, summary, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.layout__container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-width: 1440px;
    min-width: 1240px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}
body {
    margin: 0;
    overflow-y: scroll;
    font-family: sans-serif;
    color: #292929;
    background: #fff;
}
body {
    line-height: 1;
}