.header-bar__link {
    cursor: pointer;
    color: #999;
}
a {
    text-decoration: none;
}
a :visited {
    text-decoration: none;
}
li {
list-style: none;
} 
.menu-list {
    display: flex;
}
.menu-list>li :hover .sub-menu_list{
    display: block;
    display: none;
}
.sub-menu-list {
    position: absolute;
}

body {
    font: 14px/20px Roboto,Helvetica,sans-serif;
    font-weight: 400;
    background: #E9E9E6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
